extends layout.pug

block content
  tr
    td.alert(class='alert-primary')
  tr
    td.content-wrap
      table(width='100%', cellpadding='0', cellspacing='0')
        tr
          td.content-block Hi #{customerName},
        tr
          td.content-block Your invoice ##{itemNumber} was just updated. 
        tr
          td.content-block As a reminder, the total of <strong>#{currency} #{itemAmount}</strong> is due on #{itemDueDateFormatted}.<br />You can pay it online by clicking the button below.
        tr
          td.content-block Thank you!
        tr
          td.content-block &mdash; Julian
        tr
          td.content-block(itemprop='handler', itemscope='', itemtype='http://schema.org/HttpActionHandler')
            a.btn.btn-primary(href='https://julianjorgensen.herokuapp.com/invoice/' + itemId + '/' + itemToken, itemprop='url') View and Pay Invoice
