extends layout.pug

block content
  tr
    td.alert(class='alert-primary')
  tr
    td.content-wrap
      table(width='100%', cellpadding='0', cellspacing='0')
        tr
          td.content-block Hi there, we've received a sample kit request:
        tr
          td.content-block
            if name
              | Name: #{name}
              br
            if email
              | Email: #{email}
              br
            if business
              | Business name: #{business}
              br
            if businessaddress
              | Business address: #{businessaddress}
              br
            if phone
              | Phone number: #{phone}
              br
            if extractionprocess
              | Extraction Process: #{extractionprocess}
              br
            if postprocessing
              | Post Processing: #{postprocessing}
              br
            br
            | Special requests:
            br
            if glasscartridgesonly
              | - Glass cartridges only
              br
            if ceramicheatingelement
              | - Ceramic heating element
              br
            if preheatingbattery
              | - Preheating battery
              br
            if bottomairflow
              | - Bottom airflow
              br
            if adjustabletopairflow
              | - Adjustable top airflow
              br
            if waxshatterproducts
              | - Wax/shatter products
              br
            if packaging
              | - Packaging
              br
            if glasssyringes
              | - Glass syringes
              br
            if disposablevapes
              | - Disposable Vapes
            if logo
              br
              | Logo: #[a( href=`${SITE_URL}/uploads/${logo}` ) #{logo}]
