extends layout.pug

block content
  tr
    td.alert(class='alert-primary')
  tr
    td.content-wrap
      table(width='100%', cellpadding='0', cellspacing='0')
        tr
          td.content-block Hi there, we've received a sample kit request:
        tr
          td.content-block
            | Name: #{name}
            | Email: #{email}
            | Business name: #{business}
            | Business address: #{businessAddress}
            | Phone number: #{phone}
            | Extraction Process: #{extractionProcess}
            | Post Processing: #{postProcessing}
